* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #141414;
    color: #fff;
    line-height: 1.6;
}

.header {
    background-color: #111;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e50914;
}

.hero {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    margin-top: 80px; /* to compensate for fixed header */
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

.hero h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.content-box {
    padding: 50px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.skills-list {
    display: flex;
    justify-content: space-around;
}

.skill {
    text-align: center;
    background-color: #e50914;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
    width: 120px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.skill i {
    font-size: 2rem;
    margin-bottom: 10px;
}

.skill span {
    display: block;
    font-size: 1.2rem;
}

.skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.projects {
    background-color: #1f1f1f;
    padding: 100px 20px;
    text-align: center;
}

.projects h2 {
    color: #fff;
    margin-bottom: 30px;
}

.projects p {
    color: #ccc;
    font-size: 1.2rem;
}

.contact {
    background-color: #111;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}

.contact h2 {
    margin-bottom: 30px;
}

.contact p {
    color: #ccc;
    font-size: 1.2rem;
}

.footer {
    background-color: #111;
    padding: 40px 0;
    text-align: center;
}

.footer p {
    margin-bottom: 20px;
    color: #757575;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-links li {
    margin: 5px 10px;
}

.footer-links a {
    text-decoration: none;
    color: #757575;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}

